image boot.vfat {
	vfat {
		extraargs = "-F 32 -n BATOCERA"
		@files
	}
	size = 4G
}

image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "512M"
	# include files from TARGET_DIR/userdata
	mountpoint = "/userdata"
}

image batocera.img {
	hdimage {
		align = "1M"
		partition-table-type = "gpt"
	}

	partition bootinfo {
		in-partition-table = "no"
		image = "../../u-boot/bootinfo_sd.bin"
		offset = 0
		size = 512B
	}

	partition fsbl {
		image = "../../u-boot/FSBL.bin"
		offset = 128K
		size = 256K
	}

	partition env {
		image = "../../u-boot/env.bin"
		offset = 384K
		size = 64K
	}

	partition opensbi {
		image = "../../opensbi/fw_dynamic.itb"
		size = 384K
	}
	
	partition uboot {
		image = "../../u-boot/u-boot.itb"
		size = 2M
	}

	partition boot {
		bootable = "true"
		partition-type-uuid = F
		image = "boot.vfat"
	}

	partition userdata {
		partition-type-uuid = L
		image = "userdata.ext4"
	}
}

